{{#each this}}
<li class="gallery-item">
    <a href="/{{title}}"><img src="{{backdrop_path}}" alt="{{original_title}}" class="gallery-item__image" width=""
            height="" data-value="{{id}}" /></a>
    <p class="gallery-item__name">{{title}}<span class="gallery-item__date">({{release_date}})</span></p>
    <p class="gallery-item__rating">{{vote_average}}</p>
</li>
{{/each}}